@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
body {
  background-color: #1d1d20;
  color: aqua;
}
.heading {
  text-align: center;
  margin-bottom: 30px;
}
.lolly-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn-wrapper {
  margin-top: 50px;
  text-align: center;
  margin-top: 40px;
}
.btn-wrapper button {
  width: 300px;
  font-size: 14px;
  border: 1px solid #cbd5e0;
  text-transform: capitalize;
  padding: 20px 10px;
  border-radius: 50px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  transition: all ease 0.5s;
}
.btn-wrapper button:hover {
  background-color: #e83b8f;
  border: none;
}
